pre.code {
	border-left: 5px solid #3fa786;
	display: block;
	background: #282b2e;
	padding: 1em 5em 1em 2em;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
	overflow-x: auto;
}

pre.code:before {
	counter-reset: lc;
}

pre.code code {
	counter-increment: lc;
	font: normal 10pt Consolas, Monaco, monospace;
	display: inline-block;
	overflow-x: auto;
	color: #bccada;
	padding-left: auto;
}

pre.code code::before {
	content: counter(lc, decimal-leading-zero) ". ";
	text-align: right;
	color: #aaaaaa;
	padding-right: 0.5em;
	margin-left: auto;
}

.keyword {
	color: #8080fc;
}

.comment {
	color: #70da70;
}

.include {
	color: #da70da;
}

.char {
	color: #f24824;
}

.string {
	color: #fd7050;
}

.constant {
	color: #fa9090;
}

.bracket {
	color: #0aabbf;
	font-weight: bold;
}
