body {
	background-color: #efefef;
}

h1 {
	text-align: center;
	font-family: verdana;
}

h2 {
	text-align: center;
	font-family: verdana;
	font-variant: small-caps;
	padding-bottom: 32px;
}


h3 {
	text-align: left;
	font-family: verdana;
	font-variant: small-caps;
	padding-top: 32px;
}

p {
	font-size: 14px;
	font-family: arial;
}


ul.list li {
	float: none;
}


/*column content*/
ul.ul_c {
	display: table;
	width: 100%;
    padding: 0;
    overflow: hidden;
}

ul.ul_c li {
	display: table-cell;
	width: 30%;
	padding: 1.5%;
}

button {
	border-radius: 6px;
	border: none;
	display: inline-block;
	margin: 2px;
	width: 44%;
}

/*horizontal navigation bar*/
ul.ul_h {
    list-style-type: none;
    margin: 12px;
    padding: 0;
    overflow: hidden;
    background-color: #101010;
}

/*vertical navigation bar*/
ul.ul_v {
    list-style-type: none;
    margin: 12px;
	max-width: 192px;
    top: 128px;
	padding: 0;
    overflow: hidden;
	position: absolute;
    background-color: #c1c1c1;
	border-radius: 6px;
}

div.navmargin {
	padding:2px 248px;
/*	height:2000px;*/
}

li {
	float: left;
}

li.vnav {
	float: none;
}

li.vnav a {
	display: block;
	color: black;
	text-align: left;
	padding: 8px 8px;
	text-decoration: none;
	font-family: verdana;
	font-size: 14px;
	border-radius: 6px;
}

li a, .dropelement {
	display: block;
	color: #d0d0d0;
	text-align: center;
	padding: 12px 32px;
	text-decoration: none;
	font-family: verdana;
}

li a:hover, .dropdown:hover .dropelement {
    background-color: #3a58b8;
}
li.vnav a:hover {
    background-color: #dddddd;
}

li.dropdown {
	display: inline-block;
}

.active {
    background-color: #363695;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #202020;
	min-width: 160px;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #d0d0d0;
	padding: 12px 16px;
	font-size: 14px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
	background-color: #425eb8;
}




div.gallery {
	margin: 10px;
	background-color: #aaaaaa;
	float: left;
	width: 256px;
	border-radius: 3px;
	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
}

div.gallery:hover {
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2), 0px 8px 8px 0px rgba(0,0,0,0.15);
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.title {
	padding: 8px;
	text-align: center;
	font-size: 14px;
	font-family: tahoma;
}

.tooltip {
	position: relative;
	display: inline-block;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 248px;
    background-color: #101010;
    color: #d0d0d0;
    text-align: left;
	font-size: 12px;
	font-family: tahoma;
    border-radius: 4px;
    padding: 4px 4px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -128px;
	opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

